{% extends "blog/_base.html" %}
{% block title %}
{{post.title}}
{% endblock title %}

{% block content %}
<div>
    <h1 class="display-1 fw-semibold">
        {{post.title}}
    </h1>
    <hr>
</div>

<p class="text-secondary">
    Published {{ post.publish }} by <span class="text-primary fw-semibold">{{ post.author }}</span>
</p>
<span class="fw-semibold">
    {{ post.body|capfirst|linebreaks }}
</span>
<p>
    <a class="h6 text-decoration-none text-primary fw-bold" href="{% url 'blog:post_share' post.id %}">Share this
        post!</a>
</p>
<hr>
<h2>Similar posts</h2>
{% for post in similar_posts %}
<p>
    <a class="h6 text-decoration-none text-primary fw-bold" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
</p>
{% empty %}
<p>
    There are no similar posts yet.
</p>
{% endfor %}
<hr>
{% with comments.count as total_comments %}
<h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
{% endwith %}
{% for comment in comments %}
<div class="card text-bg-light mb-5">
    <div class="card-header">
        <h5 class="card-title">
            Comment {{ forloop.counter }} by <span class="text-primary fw-semibold">{{ comment.name }}</span>
            {{ comment.created_at }}
        </h5>
    </div>
    <div class="card-body">
        <span>
            {{ comment.body|linebreaks }}
        </span>
    </div>
</div>
{% empty %}
<p>There are no comments.</p>
{% endfor %}
<hr>
{% include "blog/post/includes/comment_form.html" %}
{% endblock content %}