{% extends "blog/_base.html" %} 
{% block title %} My Blog 
{% endblock title %}
{% block content %}
<div>
  <h1 class="display-1 fw-semibold">My blog</h1>
  <hr />
</div>
{% for post in posts %}
<h2 class="text-primary">
  <a class="text-decoration-none" href="{{ post.get_absolute_url }}"
    >{{ post.title }}</a
  >
</h2>
<p class="text-secondary">
  Published {{ post.publish }} by
  <span class="text-primary fw-semibold">{{ post.author }}</span>
</p>
<span class="fw-semibold">
  {{ post.body|truncatewords:30|capfirst|linebreaks }}
</span>

{% empty %}
<p>No posts found.</p>
{% endfor %} 
{% include "pagination.html" with page=posts %}
{% endblock content %}
