{% extends "blog/_base.html" %}
{% load crispy_forms_tags %}
{% block title %} Share a post {% endblock title %}
{% block content %}
<div class="container">
  <div class="row pt-5">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
      {% if sent %}
      <h1>E-mail successfully sent!</h1>
      <p>
        "{{ post.title }}" was successfully sent to
        <span class="text-primary">{{ form.cleaned_data.to }}.</span>
      </p>
      {% else %}
      <h1>Share "{{ post.title }}" by e-mail</h1>
      <form method="post" class="mt-5">
        {% crispy form %}
        {% csrf_token %}
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}